# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.egg-info/
dist/
build/

# Flutter / Dart
vastu_ai_app/build/
vastu_ai_app/.dart_tool/
vastu_ai_app/.flutter-plugins
vastu_ai_app/.flutter-plugins-dependencies
vastu_ai_app/.pub-cache/
vastu_ai_app/.pub/
*.apk

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
*.iml
